.bntBack {
  color: black;
  background-color: white;
  border: 1px solid black;
  width: 100px;
  padding: 10px;
  margin: 25px 25px 25px 45px;
  border-radius: 20px;
  font-size: 30px;
text-decoration: none;
}

.movieContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movieDetails {
  display: inline-flex;
  justify-content: flex-start;
padding-left: 45px;
  gap: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid gray;
}

.moviePoster {
  max-width: 50%;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.movieTitle {
  font-size: 50px;
}

.movieText {
  font-size: 26px;
}

.movieOverview {
  margin-top: 20px;
  font-size: 44px;
}

.movieGenres {
  margin-top: 20px;
  font-size: 38px;
}
.genresist {
  font-size: 26px;
  padding: 0;
  margin: 0;
}

.movieAddInfo {
  margin: 15px 50px;
  font-size: 36px;
  
}

.movieAddInfoLink {
  margin-top: 0;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
}




.active {
  padding: 0 5px;
  border: 1 solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
}
