.castContainer {
  display: flex;
}

.castList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  gap: 15px;
}
.castListItem {
  max-width: 400px;
  width: 707px;
  display: flex;
  flex-direction: column;

}

.castImage {
  width: 400px;
 height: 600px;
  top: 0;
  margin-top: 0;
  margin-bottom: 15px;
}
