.moviesList {
    text-decoration: none;
}

.movieList {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
}

    
    .movieList:hover{
        color: aliceblue;
        background-color: black;
        border-radius: 5px;
        color: white;
    }
    